* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #282726;
  color: #D9D9D9;
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 100vh;
}

button {
  font-family: "Hanken Grotesk", Arial, sans-serif;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

header {
  text-align: center;
}

header>h1 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 100%;
  color: #F9F4DA;
}

header>p {
  font-size: 0.875rem;
  max-width: 350px;
  color: #8E8E8E;
}

section.game-status {
  background-color: #10A95B;
  border-radius: 4px;
  color: #F9F4DA;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.game-status>h2 {
  font-size: 1.25rem;
  margin: 5px;
}

.game-status>p {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 5px;
}

section.language-chips {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 350px;
  gap: 5px;
}

span.chip {
  border-radius: 3px;
  padding: 4.5px;
  position: relative;
}

span.chip.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

section.word {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.word>span {
  background-color: #323232;
  height: 40px;
  width: 40px;
  border-bottom: 1px solid #F9F4DA;
  font-size: 1.125rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.keyboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 470px;
  gap: 6px;
}

section.keyboard>button {
  background-color: #FCBA29;
  border: 1px solid #D7D7D7;
  height: 40px;
  width: 40px;
  border-radius: 4px;
  font-weight: 600;
}

section.keyboard>button.correct {
  background-color: #10A95B;
}

section.keyboard>button.wrong {
  background-color: #EC5D49;
}

button.new-game {
  background-color: #11B5E5;
  border: 1px solid #D7D7D7;
  width: 280px;
  height: 40px;
  border-radius: 4px;
  font-weight: 600;
}